<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<!--tobar-->
<div th:replace="commons/bar::topbar(${session.userSession.getUserName()})"></div>
<section class="publicMian2">
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>密码修改页面</span>
        </div>
        <div class="providerAdd">
            <form id="userForm" name="userForm" method="post" th:action="@{/consumer/savepwd}">
                <!--div的class 为error是验证错误，ok是验证成功-->
                <div class="info" th:text="${message} == null ? '' : ${message}"></div>
                <div class="">
                    <label for="oldPassword">旧密码：</label>
                    <input type="password" name="oldpassword" id="oldpassword" value="" />
                    <font color="red"></font>
                </div>
                <div>
                    <label for="newPassword">新密码：</label>
                    <input type="password" name="newpassword" id="newpassword" value="" />
                    <font color="red"></font>
                </div>
                <div>
                    <label for="rnewpassword">确认新密码：</label>
                    <input type="password" name="rnewpassword"  id="rnewpassword" value="" />
                    <font color="red"></font>
                </div>
                <div class="providerAddBtn">
                    <!--<a href="#">保存</a>-->
                    <input type="button" name="save" id="save" value="保存" class="input-button" />
                </div>
            </form>
        </div>
    </div>
</section>

<!--footerbar-->
<div th:replace="commons/bar::footbar"></div>

</body>
<script type="text/javascript" rel="stylesheet" th:src="@{/js/pwdmodify.js}"></script>
</html>
